<div class='cls-content'>
<div class='slogan'>
  <% if @task %>
    <h1 class='task'>
      <%= @task.title %>
    </h1>
  <% else %>
    <h1>
      在这里，你只有一件待做事项。
    </h1>
    <h2>
      思考，行动，分享
    </h2>
  <% end %>
</div>
</div>

<div class='cls-home-ver'>
  <% if current_user %>
    <%= link_to "返回个人主页", tasks_path %>
  <% else %>
    <%= link_to "登录", new_user_session_path, class: 'btn-link mar-rgt' %>
    <%= link_to "注册", new_user_registration_path, class: 'btn-link mar-lft' %>
  <% end %>
</div>
