<div class='cls-content'>
<div class='slogan'>
  <h1>
    <i class="fa fa-bell-o"></i>
  </h1>

  <div class='info'>
    <span class="animated bounceInLeft">#<%= ((Time.now - DateTime.new(2016,2,3)) / 1.day).to_i %></span> 天  <span class="cls-right animated bounceInRight">#<%= @count %></span> 任务
  </div>
  <div class='task'>
    #接下来要做的事情#想做#完成#记录#
  </div>
  <% if current_user %>
    <%= link_to "返回个人主页", tasks_path, class: 'btn btn-primary join' %>
  <% else %>
    <%= link_to "加入我们", new_user_session_path, class: 'btn btn-primary join' %>
  <% end %>
</div>
</div>
