@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "user";

body {
  font-family: "Helvetica Neue", Helvetica, Georgia, "Microsoft YaHei", "微软雅黑", STXihei, Arial, sans-serif;

  font-size: 14px;
  background: white;
  color: #46433f;
}

ol, ul {
  list-style: none;
  padding: 0px;
}

a {
  color: #72b9ff;
}

.form-control {
  font-size: 0.875rem;
}

.btn {
  font-size: 0.875rem;
}

.head {
  text-align: right;
}

.hidden {
  display: none;
}

.border {
//  border: 5px solid #eee;
  border-radius: 3px;
}

.navi {
  margin-top: 0.5rem;
  font-size: 18px;

  a {
    color: #aaa;
  }
}

.btn-yellow {
  padding: 0.6rem 1rem;
  border-radius: 1.6rem;
  background-color: #ffd460;
  color: white;
  &:hover {
    background-color: #EDC558;
    color: white;
  }
  &:focus {
    color: white;
  }
}

#error_explanation {
  color: #d9534f;
}

/* header */
.header {
  background-color: #f8f9fa;
  a {
    display: inline-block;
    line-height: 48px;
    color: #b2b3b7;
    &.logo {
      float: left;
      background-color: #72b9ff;
      font-size: 24px;
      color: white;
      text-align: center;
      padding: 0 24px;
      text-decoration: none;
    }
  }
  .explore {
    margin-left: 2rem;
    color: #46433f;
    &:hover {
      color: #72b9ff;
    }
  }
  .user {
    a {
      margin-right: 1.5em;
    }
  }
}
