@import "bootstrap";
@import "home";
@import "user";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Georgia, "Microsoft YaHei", "微软雅黑", STXihei, Arial, sans-serif;

  background-color: #f5f8fa;
  color: #292f33;
}

.head {
  text-align: right;
}

.hidden {
  display: none;
}
