#container {
  min-height: 100vh;
  height: auto;
  position: relative;
  min-width: 290px;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.cls-container {
  background-color: #212124;
  color: #fff;
  text-align: center;
}

.cls-content {
  padding: 50px 15px 15px;
  padding-top: 10vh;
  position: relative;

  .slogan {
    h1 {
      margin-top: 1em;
      font-size: 1.6rem;
    }

    h2 {
      margin: 1em auto 0;
      max-width: 320px;
      text-align: right;
    }
  }
}

.cls-home-ver {
  position: absolute;
  bottom: 2em;
  right: 3em;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .mar-rgt {
    margin-right: 1em;
  }
}

.pad-ver {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .mar-rgt {
    margin-right: 1rem;
  }

  .mar-lft {
    margin-left: 1rem;
  }
}

.bg-img-ballon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .55;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cls-header {
  position:relative;
  background-color:rgba(0,0,0,0.1);
  font-size:27px;

  &.cls-header-lg {
    .cls-brand {
      line-height:60px;
      padding: 20px 0;
      box-sizing: border-box;

      a {
        color: white;
        text-decoration: none;
        .brand-title {
          opacity:.7;
          transition:all .5s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.cls-header:after {
  content:"";
  display:block;
  border-top:10px solid rgba(0,0,0,0.1);
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  width:0;
  height:0;
  position:absolute;
  left:50%;
  margin-bottom:-10px;
  margin-left:-10px;
  bottom:0
}

@media (max-width: 544px) {
  .cls-content {
    padding-top: 20px;
    box-sizing: border-box;

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.2em;
    }
  }
}
