$mobile-width: 480px;
@mixin small-layout {
  background: white;
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 23px 26px;
}

/* sign in/up */
.user.ailse {
  @include small-layout;
  &.in {
  }
  &.out {
  }
  h2 {
    text-align: center;
  }
  .next {
    line-height: 38px;
    margin-left: 23px;
  }
}

/* home */

.home.index {
  @include small-layout;
}
