$mobile-width: 480px;
$account-width: 320px;

@mixin small-layout {
  background: white;
  max-width: $account-width;
  margin: 10em auto;
  padding: 23px 16px;
}

/* sign in/up */
.user.ailse {
  @include small-layout;

  &.in {
  }

  &.out {
  }

  h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .next {
    margin-left: 32px;
  }

  .other-links {
    margin-top: 0.5rem;
    text-align: center;
    a {
      color: #aaa;
    }
  }
}

/* user edit */
.user {
  .avatar {
    text-align: center;
    margin-bottom: 16px;
    img {
      border-radius: 100px;
    }
  }
}

/* home */
.home.index {
  @include small-layout;

  .item {
    margin-top: 16px;
  }
}


@media (max-width: 48em) {
  .home.index {
    margin-top: 5em;
  }

  .user.ailse {
    margin-top: 6em;
  }

  .user.edit {
    margin-top: 1.5em;
  }
}
