<p>你好 <%= @resource.nickname %>!</p>

<p>您申请了修改密码,请点击下面链接地址.</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果按钮无法点击，请复制链接下面到浏览器 <br />
<%= edit_password_url(@resource, reset_password_token: @token) %> </p>

<p> 如果不是本人申请，请忽略些该邮件。 </p>
